node_modules
.env**
dist
.next
.expo
build
coverage
*.log
contracts/artifacts
contracts/cache
.vscode
.idea

-------

# Logs
logs
*.log
npm-debug.log*
bun-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode\settings.json

docs/~$opEnergie-Implementation-Guide.docx
docs/~$rch-en.docx
docs/~$srs-en.docx
coopenergie-948e2-firebase-adminsdk-fbsvc-5c2f6f421f.json
.vscode/settings.json
apps/mobile/android/.kotlin/sessions/kotlin-compiler-6459380022055439633.salive
